

@media screen and (max-width: 375px) {
    
    .main_wrapper article {
        max-width: 100%;
        padding-bottom: 3rem;
    }

    .grid_wrapper div .img_container .overlay_text {
        display: none;
    }

    .grid_wrapper div .img_container .text_mobile {
        display: block;
        font-family: "roboto_reg";
    }

    form {
        max-width: 345px;
    }

}