

@media screen and (max-width: 800px) {
    
    .grid_wrapper {
        display: block;
    }

    .grid_wrapper .img_container {
        margin-block: 1rem;
    }

    .article_wrapper {
        display: block;
    }

    .article_wrapper article {
        margin-block: 3vh;
    }
}